################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Sacco/v16/Server/sqlite3/db.lock
/.vs/Final Sacco/v16/Server/sqlite3/storage.ide-wal
